{% extends 'base.html' %}
{% block slider %}
	{% include 'include/slider.html' %}
{% endblock slider %}
{% block main %}

	<div class="container">
	    <h2 class="title text-center mb-2">Explore Popular Categories</h2><!-- End .title -->

	    <div class="cat-blocks-container">
	        <div class="row">
	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/1.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Computer & Laptop</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->

	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/2.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Lighting</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->

	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/3.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Smart Phones</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->

	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/4.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Televisions</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->

	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/5.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Cooking</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->

	            <div class="col-6 col-sm-4 col-lg-2">
	                <a href="category.html" class="cat-block">
	                    <figure>
	                        <span>
	                            <img src="/static/assets/images/demos/demo-13/cats/6.jpg" alt="Category image">
	                        </span>
	                    </figure>

	                    <h3 class="cat-block-title">Furniture</h3><!-- End .cat-block-title -->
	                </a>
	            </div><!-- End .col-sm-4 col-lg-2 -->
	        </div><!-- End .row -->
	    </div><!-- End .cat-blocks-container -->
	</div><!-- End .container -->

	<div class="mb-2"></div><!-- End .mb-2 -->

	<div class="container">
	    <div class="row">
	        <div class="col-sm-6 col-lg-3">
	            <div class="banner banner-overlay">
	                <a href="#">
	                    <img src="/static/assets/images/demos/demo-13/banners/banner-1.jpg" alt="Banner">
	                </a>

	                <div class="banner-content">
	                    <h4 class="banner-subtitle text-white"><a href="#">Weekend Sale</a></h4><!-- End .banner-subtitle -->
	                    <h3 class="banner-title text-white"><a href="#">Lighting <br>& Accessories <br><span>25% off</span></a></h3><!-- End .banner-title -->
	                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
	                </div><!-- End .banner-content -->
	            </div><!-- End .banner -->
	        </div><!-- End .col-lg-3 -->

	        <div class="col-sm-6 col-lg-3 order-lg-last">
	            <div class="banner banner-overlay">
	                <a href="#">
	                    <img src="/static/assets/images/demos/demo-13/banners/banner-3.jpg" alt="Banner">
	                </a>

	                <div class="banner-content">
	                    <h4 class="banner-subtitle text-white"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
	                    <h3 class="banner-title text-white"><a href="#">Anniversary <br>Special <br><span>15% off</span></a></h3><!-- End .banner-title -->
	                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
	                </div><!-- End .banner-content -->
	            </div><!-- End .banner -->
	        </div><!-- End .col-lg-3 -->

	        <div class="col-lg-6">
	            <div class="banner banner-overlay">
	                <a href="#">
	                    <img src="/static/assets/images/demos/demo-13/banners/banner-2.jpg" alt="Banner">
	                </a>

	                <div class="banner-content">
	                    <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Amazing Value</a></h4><!-- End .banner-subtitle -->
	                    <h3 class="banner-title text-white"><a href="#">Clothes Trending <br>Spring Collection 2019 <br><span>from $12,99</span></a></h3><!-- End .banner-title -->
	                    <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
	                </div><!-- End .banner-content -->
	            </div><!-- End .banner -->
	        </div><!-- End .col-lg-6 -->
	    </div><!-- End .row -->
	</div><!-- End .container -->

	<div class="mb-3"></div><!-- End .mb-3 -->

	<div class="container clothing ">
	    <div class="heading heading-flex heading-border mb-3">
	        <div class="heading-left">
	            <h2 class="title">Clothing & Apparel</h2><!-- End .title -->
	        </div><!-- End .heading-left -->

	    </div><!-- End .heading -->

	    <div class="tab-content tab-content-carousel">
	        <div class="tab-pane p-0 fade show active" id="clot-new-tab" role="tabpanel" aria-labelledby="clot-new-link">
	            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
	                data-owl-options='{
	                    "nav": false,
	                    "dots": true,
	                    "margin": 20,
	                    "loop": false,
	                    "responsive": {
	                        "0": {
	                            "items":2
	                        },
	                        "480": {
	                            "items":2
	                        },
	                        "768": {
	                            "items":3
	                        },
	                        "992": {
	                            "items":4
	                        },
	                        "1280": {
	                            "items":5,
	                            "nav": true
	                        }
	                    }
	                }'>
					{% for product in products %}
	                <div class="product">
	                    <figure class="product-media">
	                        <a href="product.html">
	                            <img src="{{product.image.url}}" alt="Product image" class="product-image">
	                        </a>

	                        <div class="product-action-vertical">
	                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
	                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
	                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
	                        </div><!-- End .product-action-vertical -->

	                        <div class="product-action">
	                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
	                        </div><!-- End .product-action -->
	                    </figure><!-- End .product-media -->

	                    <div class="product-body">
	                        <div class="product-cat">
	                            <a href="#">{{product.category}}</a>
	                        </div><!-- End .product-cat -->
	                        <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3><!-- End .product-title -->
	                        <div class="product-price">
								<span>{{product.sale_price}}</span><br>

	                        </div><!-- End .product-price -->

								{% if product.previous_price %}

								<del>{{product.previous_price}}</del>
								{% endif %}
	                        <div class="ratings-container">
	                            <div class="ratings">
	                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
	                            </div><!-- End .ratings -->
	                            <span class="ratings-text">( 12 Reviews )</span>
	                        </div><!-- End .rating-container -->
	                    </div><!-- End .product-body -->
	                </div><!-- End .product -->
					{% endfor %}


	            </div><!-- End .owl-carousel -->
	        </div><!-- .End .tab-pane -->


	    </div><!-- End .tab-content -->
	</div><!-- End .container -->

	<div class="mb-3"></div><!-- End .mb-3 -->

	<div class="container">
	    <h2 class="title title-border mb-5">Shop by Brands</h2><!-- End .title -->
	    <div class="owl-carousel mb-5 owl-simple" data-toggle="owl"
	        data-owl-options='{
	            "nav": false,
	            "dots": true,
	            "margin": 30,
	            "loop": false,
	            "responsive": {
	                "0": {
	                    "items":2
	                },
	                "420": {
	                    "items":3
	                },
	                "600": {
	                    "items":4
	                },
	                "900": {
	                    "items":5
	                },
	                "1024": {
	                    "items":6
	                },
	                "1280": {
	                    "items":6,
	                    "nav": true,
	                    "dots": false
	                }
	            }
	        }'>
	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/1.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/2.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/3.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/4.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/5.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/6.png" alt="Brand Name">
	        </a>

	        <a href="#" class="brand">
	            <img src="/static/assets/images/brands/7.png" alt="Brand Name">
	        </a>
	    </div><!-- End .owl-carousel -->
	</div><!-- End .container -->

	<div class="cta cta-horizontal cta-horizontal-box bg-primary">
	    <div class="container">
	        <div class="row align-items-center">
	            <div class="col-2xl-5col">
	                <h3 class="cta-title text-white">Join Our Newsletter</h3><!-- End .cta-title -->
	                <p class="cta-desc text-white">Subcribe to get information about products and coupons</p><!-- End .cta-desc -->
	            </div><!-- End .col-lg-5 -->

	            <div class="col-3xl-5col">
	                <form action="#">
	                    <div class="input-group">
	                        <input type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
	                        <div class="input-group-append">
	                            <button class="btn btn-outline-white-2" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
	                        </div><!-- .End .input-group-append -->
	                    </div><!-- .End .input-group -->
	                </form>
	            </div><!-- End .col-lg-7 -->
	        </div><!-- End .row -->
	    </div><!-- End .container -->
	</div><!-- End .cta -->

	<div class="blog-posts bg-light pt-4 pb-7">
	    <div class="container">
	        <h2 class="title">From Our Blog</h2><!-- End .title-lg text-center -->

	        <div class="owl-carousel owl-simple" data-toggle="owl"
	            data-owl-options='{
	                "nav": false,
	                "dots": true,
	                "items": 3,
	                "margin": 20,
	                "loop": false,
	                "responsive": {
	                    "0": {
	                        "items":1
	                    },
	                    "600": {
	                        "items":2
	                    },
	                    "992": {
	                        "items":3
	                    },
	                    "1280": {
	                        "items":4,
	                        "nav": true,
	                        "dots": false
	                    }
	                }
	            }'>
	            <article class="entry">
	                <figure class="entry-media">
	                    <a href="single.html">
	                        <img src="/static/assets/images/demos/demo-13/blog/post-1.jpg" alt="image desc">
	                    </a>
	                </figure><!-- End .entry-media -->

	                <div class="entry-body">
	                    <div class="entry-meta">
	                        <a href="#">Nov 22, 2018</a>, 0 Comments
	                    </div><!-- End .entry-meta -->

	                    <h3 class="entry-title">
	                        <a href="single.html">Sed adipiscing ornare.</a>
	                    </h3><!-- End .entry-title -->

	                    <div class="entry-content">
	                        <p>Lorem ipsum dolor consectetuer adipiscing elit. Phasellus hendrerit. Pelletesque aliquet nibh ...</p>
	                        <a href="single.html" class="read-more">Read More</a>
	                    </div><!-- End .entry-content -->
	                </div><!-- End .entry-body -->
	            </article><!-- End .entry -->

	            <article class="entry">
	                <figure class="entry-media">
	                    <a href="single.html">
	                        <img src="/static/assets/images/demos/demo-13/blog/post-2.jpg" alt="image desc">
	                    </a>
	                </figure><!-- End .entry-media -->

	                <div class="entry-body">
	                    <div class="entry-meta">
	                        <a href="#">Dec 12, 2018</a>, 0 Comments
	                    </div><!-- End .entry-meta -->

	                    <h3 class="entry-title">
	                        <a href="single.html">Vivamus vestibulum ntulla.</a>
	                    </h3><!-- End .entry-title -->

	                    <div class="entry-content">
	                        <p>Phasellus hendrerit. Pelletesque aliquet nibh necurna In nisi neque, aliquet vel, dapibus id ... </p>
	                        <a href="single.html" class="read-more">Read More</a>
	                    </div><!-- End .entry-content -->
	                </div><!-- End .entry-body -->
	            </article><!-- End .entry -->

	            <article class="entry">
	                <figure class="entry-media">
	                    <a href="single.html">
	                        <img src="/static/assets/images/demos/demo-13/blog/post-3.jpg" alt="image desc">
	                    </a>
	                </figure><!-- End .entry-media -->

	                <div class="entry-body">
	                    <div class="entry-meta">
	                        <a href="#">Dec 19, 2018</a>, 2 Comments
	                    </div><!-- End .entry-meta -->

	                    <h3 class="entry-title">
	                        <a href="single.html">Praesent placerat risus.</a>
	                    </h3><!-- End .entry-title -->

	                    <div class="entry-content">
	                        <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc ...</p>
	                        <a href="single.html" class="read-more">Read More</a>
	                    </div><!-- End .entry-content -->
	                </div><!-- End .entry-body -->
	            </article><!-- End .entry -->

	            <article class="entry">
	                <figure class="entry-media">
	                    <a href="single.html">
	                        <img src="/static/assets/images/demos/demo-13/blog/post-4.jpg" alt="image desc">
	                    </a>
	                </figure><!-- End .entry-media -->

	                <div class="entry-body">
	                    <div class="entry-meta">
	                        <a href="#">Dec 19, 2018</a>, 2 Comments
	                    </div><!-- End .entry-meta -->

	                    <h3 class="entry-title">
	                        <a href="single.html">Fusce pellentesque suscipit.</a>
	                    </h3><!-- End .entry-title -->

	                    <div class="entry-content">
	                        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero augue. </p>
	                        <a href="single.html" class="read-more">Read More</a>
	                    </div><!-- End .entry-content -->
	                </div><!-- End .entry-body -->
	            </article><!-- End .entry -->

	            <article class="entry">
	                <figure class="entry-media">
	                    <a href="single.html">
	                        <img src="/static/assets/images/demos/demo-13/blog/post-1.jpg" alt="image desc">
	                    </a>
	                </figure><!-- End .entry-media -->

	                <div class="entry-body">
	                    <div class="entry-meta">
	                        <a href="#">Nov 22, 2018</a>, 0 Comments
	                    </div><!-- End .entry-meta -->

	                    <h3 class="entry-title">
	                        <a href="single.html">Sed adipiscing ornare.</a>
	                    </h3><!-- End .entry-title -->

	                    <div class="entry-content">
	                        <p>Lorem ipsum dolor consectetuer adipiscing elit. Phasellus hendrerit. Pelletesque aliquet nibh ...</p>
	                        <a href="single.html" class="read-more">Read More</a>
	                    </div><!-- End .entry-content -->
	                </div><!-- End .entry-body -->
	            </article><!-- End .entry -->
	        </div><!-- End .owl-carousel -->
	    </div><!-- End .container -->
	</div><!-- End .blog-posts -->
{% endblock main %}